$colors: (
  primary: #353535,
  secondary: #3c6e71,
  complementary: #284b63,
  light: whitesmoke,
  dark: #d9d9d9,
  error: #ff2818,
);

$breakpoints: (
  small: 599px,
  medium: 1023px,
  large: 1439px,
);

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('~@/assets/fonts/Maplestory-Light.ttf');
}
